PAYWORKS_USER_NAME=
PAYWORKS_PASSWORD=
PAYWORKS_CUSTOMER=

OPENAI_API_KEY=

MSSQL_USER=
MSSQL_PASSWORD=
MSSQL_SERVER=
MSSQL_DATABASE=PayworksDataWarehouse
MSSQL_TRUST_SERVER_CERTIFICATE=true
MSSQL_REQUEST_TIMEOUT=20000